<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= notice %>
          <h4>ジャンル新規登録</h4>
        <%= form_for @genre do |f| %>
          <%= f.text_field :category %>
      <%= f.submit '確定' %>
      <% end %>
      <%= link_to "戻る", new_admin_package_path %>
    </div>
    <div class="col-lg-9">
      <session>
        <h1>ジャンル名一覧</h1>
            <table class="table">
            <thead>
              <tr>
        				<th>ジャンル名</th>
                <th>編集</th>
        			</tr>
            </thead>
                <% @genres.each do |a| %>
                <tbody>
                  <tr>
                      <th><%= a.category %></th>
                      <th><%= link_to "編集", edit_genre_path(a.id) %></th>
                  </tr>
                </tbody>
                <% end %>
            </table>
      </session>
    </div>
  </div>
</div>
