<h1>ジャンル名一覧</h1>

<%= form_for(@genre) do |f| %>
    <h4>ジャンル新規登録</h4>
    <%= f.text_field :category %>
<%= f.submit '確定' %>
<% end %>

<session>
  <h1>ジャンル名</h1>
      <table>
        	<tr>
				<th>ジャンル名</th>
				<th>削除</th>
			</tr>
        
          <% @genres.each do |a| %>
          <tr>
              <td><%= a.category %></td>
              <td><%= link_to "削除", genre_path(a.id), method: :delete %></td>
          </tr>
          <% end %>
      
      </table>
</session>

