<%# コクーンの部分テンプレート %>

<div class ="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="nested-fields">
                <h4>ディスク番号</h4>
                <%= f.number_field :disc_number %>
            </br>

            <%= link_to_remove_association "ディスクを削除", f %>

            <%= f.fields_for :songs do |u| %>
            <%= render "song_fields", f: u %>
            <%end%>

            <div class="add-songs">
                <%= link_to_add_association "曲を追加", f, :songs %>
            </div>
        </div>
    </div>
</div>
</div>
