<div class="container">
	<div class="row">
		<h2>新着順</h2>
	</div>
    	<% @packages.each do |package| %>
    	<div class="row">
      		<%= link_to package_path(package.id) do%>
        		<%= package.disc_image %>
      		<% end %>
        	<%= package.artist.artist %>
        	<%= package.title %>
        	<%= package.price %>
    	<% end %>
    </div>
    <%= paginate @packages, class: "paginate" %>
</div>