<h1>新規商品の追加</h1>

<div class="item_name">
  <%= form_for(@package, url: '/admin_packages') do |f| %>
    <div class="field">
        <h4>アーティストを選ぶ</h4>
        <%= f.collection_select :artist_id, @artists, :id, :artist, include_blank: 'アーティスト' %>
        <h4>レーベルを選ぶ</h4>
        <%= f.collection_select :label_id, @labels, :id, :label, include_blank: 'レーベル' %>
        <h4>ジャンルを選ぶ</h4>
        <%= f.collection_select :genre_id, @genres, :id, :category, include_blank: 'ジャンル' %>
        <h4>商品名</h4>
        <%= f.text_field :title %>
        <h4>税抜き価格</h4>
        <%= f.number_field :price %>
        <h4>ジャケット画像</h4>
        <%= f.attachment_field :disc_image %>
    
    </div>
        <div id = 'discs'>
            <%= f.fields_for :discs do |t| %>
                <%= render "disc_fields", f: t %>
            <% end %>
            <div class = "links">
                <%= link_to_add_association "ディスクを追加", f, :discs %>
            </div>
        </div>  
  
     <%= f.submit 'Save'%>
  <% end %>
  
</div>
