<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p>姓</p><br />
    <%= f.text_field :name_kanzi_sei, autofocus: true, autocomplete: "name_kanzi_sei" %>
  </div>

  <div class="field">
    <p>名</p><br />
    <%= f.text_field :name_kanzi_mei, autofocus: true, autocomplete: "name_kanzi_mei" %>
  </div>

  <div class="field">
    <p>セイ</p><br />
    <%= f.text_field :name_kana_sei, autofocus: true, autocomplete: "name_kana_sei" %>
  </div>

  <div class="field">
    <p>名</p><br />
    <%= f.text_field :name_kana_mei, autofocus: true, autocomplete: "name_kana_mei" %>
  </div>

  <div class="field">
    <p>郵便番号</p><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <p>住所</p><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <p>電話番号</p><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <p>メールアドレス</p><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p>新しいパスワード</p> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <p>もう一度新しいパスワードを入力</p><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <p>現在のパスワード</p><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p>Unhappy? <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "よろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
