<div class="container">

  <h1>アーティスト名一覧</h1>
  <div class="row">
    <div class="col-lg-3">
      <%= form_for(@artist) do |f| %>
      <h4>アーティスト新規登録</h4>
      <%= f.text_field :artist %>
      <%= f.submit '確定' %>
      <% end %>
      <%= notice %><br>
      <%= link_to "戻る", new_admin_package_path %>
    </div>
    <div class="col-lg-9">

      <session>
        <h1>アーティスト名</h1>
        <table class="table">
          <tr>
            <th>アーティスト名</th>
            <th>編集</th>
          </tr>
          <% @artists.each do |a| %>
          <tr>
            <td><%= a.artist %></td>
            <td><%= link_to "編集", edit_artist_path(a.id) %></td>
            </tr>
            <% end %>
          </table>
        </session>
      </div>
    </div>
  </div>