<div class="full2">
<div style="background-image:url(<%= asset_path "purchase.jpg" %>) fixed;" >
  <div class="container purchase_p">
    <%= form_with model: @recept_log, url: user_cart_recept_logs_path(current_user.id,current_cart.id), method: :post, local: true do |form| %>


    <div class="h1"><h1 id="h1">商品購入ページ(Purchase)</h1></div>
    <h2 id="choise_add col-lg-2">発送住所の選択</h2>

    <div class="row address_p">
      <div class="another_address col-lg-3 ">
        <h3>配送先住所を登録する</h3>

        <%= link_to "配送先住所を登録", new_user_cart_purchase_page_path(current_user.id,current_cart.id) %>
      </div>
      <div class="deliver_add col-lg-6">
        <h3>配送先住所を選択</h3>
        <h4>郵便番号</h4>
        <%= form.select :postal_code, options_from_collection_for_select(@ship_address, :postal_code, :postal_code) %>
        <h4>住所</h4>
        <%= form.select :delivering_adddress, options_from_collection_for_select(@ship_address, :shipping_add, :shipping_add) %>
      </div>


    </div>
    <h2 id="check">商品の確認</h2>
    <div class="row check-p">
      <% @cart_items.each do |f| %>
      <div class="name-pu col-lg-6">
        <h4>商品名</h4>
        <%= f.package.title %>
      </div>
      <div class="quantity-pu col-lg-3">
        <h4>商品の個数</h4>
        <%= f.quantity %>
      </div>

      <div class="total_pu col-lg-3 ">

        <h4>税込価格</h4>
        <%= (f.total_cost*1.08).to_i %>円
      </div>
      <% end %>
    </div>

    <div class="row three_pu">
      <div class="how_to_pay col-lg-5">
        <h2>支払い方法の選択</h2>
        <%= form.select :how_to_pay, [["クレジットカード","クレジットカード"],["銀行振込","銀行振込"],["代引き","代引き"]]%>
      </div>

      <div class="payment-pu col-lg-5 col-lg-offset-2">
        <h2>請求額</h2>
        <h4>商品代金</h4>
        <%= @cart_items.sum(:total_cost) %>円
        <h4>送料</h4>
        <p id="send">500円</p>
        <h4>合計税込</h4>
        <%= (@cart_items.sum(:total_cost)*1.08+500).to_i %>円

      </div>
    </div>
    <div class="order_confirm">
      <%= form.submit "確認ページへ" ,:class=>"btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>
</div>
