
  <div class="container">
    <div class="row">
      <h1><strong>レーベル名一覧</strong></h1>
      <div class="col-lg-3">
          <%= form_for(@label) do |f| %>
            <h2>レーベル名規登録</h2>
                <%= f.text_field :label %>
                  <%= f.submit '確定' %>
                  <p><%= notice %></p>
                  <%= link_to "戻る", new_admin_package_path %>
                <% end %>
      </div>
      
      <div class="col-lg-9">
      <session>
          <h2>レーベル名</h2>
      <table class="table">
        	<tr>
				<th>レーベル名</th>
				<th>編集</th>
			</tr>
        
          <% @labels.each do |a| %>
          <tr>
              <td><%= a.label %></td>
              <td><%= link_to "編集", edit_label_path(a.id)%></td>
          </tr>
          <% end %>
      
      </table>
      </session>
      </div>
    </div>
</div>

