<div class="container">

<h1>マイページ</h1>
<%= link_to "ユーザー編集", edit_user_registration_path, class:"btn btn-success" %>
<hr>
<% if flash[:notice] %>
<p><%= flash[:notice]%></p>
<% end %>
<strong>購入履歴</strong>
<% if @recept_logs.blank? %>
<p>購入履歴は存在しません</p>

<% else %>
<% @recept_logs.each do |recept_log| %>
<% recept_log.purchase_data_logs.each do |purchase_data_log| %>
<p><%= purchase_data_log.created_at.to_s(:datetime) %></p>
<table border="1" style="border-collapse: collapse">
	<tr>
		<td><%= purchase_data_log.created_at.to_s(:datetime) %></td>
		<td><%= attachment_image_tag purchase_data_log.package, :disc_image, size:"150x150" %></td>
		<td><%= purchase_data_log.package.title %></td>
		<td><%= purchase_data_log.numbers %>個<br>
			<%= recept_log.total %>円</td>
		<td><%= recept_log.delivering_adddress %></td>
			<% if recept_log.delivered_status %>
				<td><span class="label label-success">配送済み</span></td>
			<% else %>
				<td><span class="label label-danger">未発送</span></td>
			<% end %>
	</tr>
</table>

<% end %>
<% end %>
<% end %>
</div>
