<h1>マイページ</h1>
<%= link_to "ユーザー編集", edit_user_registration_path %>
<hr>
<% if flash[:notice] %>
<p><%= flash[:notice]%></p>
<% end %>
<strong>購入履歴</strong>
<% if @recept_log.nil? %>
<p>購入履歴は存在しません</p>

<% else %>
<% @recept_log.purchase_data_logs.each do |purchase| %>
<p><%= p.created_at.to_s(:datetime) %></p>
<table border="1" style="border-collapse: collapse">
	<tr>
		<td><%= purchase.created_at.to_s(:datetime) %></td>
		<td><%= purchase.disc_image %></td>
		<td><%= purchase.title %></td>
		<td><%= purchase.recept_logs.purchase_data_logs.numbers %><br>
			<%= purchase.recept_log.total %></td>
		<td><%= purchase.recept_logs.derivering_address %></td>
		<td><%= purchase.recept_logs.derivered_status %></td>
	</tr>
</table>
<% end %>

<% end %>