
<div style="background-image:url(<%= asset_path "cart.jpg" %>)" >

<div class="container carts">


        <h1>Your Cart</h1>
              <% @cart_items.each do |c| %>
                <div class="row cart clearfix">
                  <div class="image col-lg-4">
                      <%= attachment_image_tag c.package, :disc_image, :fill,200,200 %>
                  </div>
                  <div class="package_name col-lg-3 ">
                        <%= c.package.title %>
                            <%= form_for(@cart_number, :html => {:class => "form"}, url: package_update_item_path(c.package.id)) do |f| %>
                              <h4 id="input_q">数量を入力</h4>
                                  <%= f.number_field :quantity %>
                                  <%= f.submit '確定'%>
                                  <p id="buy_q">購入個数は<%= c.quantity %>個</p>
                            <% end %>
                            <div class="price">
                                  <%= c.package.price %>円
                            </div>
                        <%= link_to "削除", package_delete_item_path(c.package.id), method: :delete %> 
                  <div class="clearfix col-lg-5"></div>
                     </div>
                   </div>
              <% end %>
                 
     

  
    <div class="row total_packages col-lg-4">
      <h2>購入する商品は</h2>
      <%= current_cart.cart_items.count %>品
    
  
    <div class="total_cost">
      <%= current_cart.cart_items.sum(:total_cost) %>円
    </div>
  
    <div class="link_to_buy">
       <%= link_to "購入", user_cart_purchase_page_path(current_user.id, current_cart.id) %>
    </div>
  </div> 
</div>    



</div>