<div class="container" >
  <div class="row">
      <table class="table">
        <thead>
              <tr>
                    <th>名前</th>
                    <th>郵便番号</th>
                    <th>住所</th>
                    <th>配送状況</th>
                    <th>総計</th>
                    <th>日付</th>
              </tr>
        </thead>
            <h1><u>注文受付一覧</u></h1><br>
              <% @recept_logs.each do |log| %>
              <tr>
                <% user = @users.find(log.user_id) %>
                    <th><%= user.kanzi_fullname %> </th>
                    <th><%= log.postal_code %> </th>
                    <th><%= log.delivering_adddress %></th>
                    <% if log.delivered_status %>
                      <th><span class="label label-success">配送済み</span></th>
                    <% else %>
                      <th><span class="label label-danger">未発送</span></th>
                    <% end %>
                    <th><%= log.total + 500 %></th>
                    <th><%= link_to log.created_at.to_s(:datetime), order_log_path(log) %></th>
                    <%= form_for log, url: user_cart_recept_log_path(user.id, user.id, log.id) do |form| %>
                      <th><%= form.check_box :delivered_status, {}, checked_value = "true", unchecked_value = "false" %></th>
                      <th><%= form.submit "更新" %></th>
                    <% end %>
                
             </tr>
             <% end %>
             <%= paginate @recept_logs, class: "paginate" %>
      </table>

    </div>
</div>
