<div class="container">

	<div class="row">
		<h1>ユーザー一覧(更新順)</h1>
	</div>

	<div class="row">
		<%= form_tag admin_users_path, :method => 'get' do %>
		<%= text_field_tag :search %>
		<%= submit_tag 'ユーザー検索', :name => nil %>
		<% end %>
	</div>

	<div class="row">
		<table class="table-bordered table-hover">
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to "#{user.kanzi_fullname}", admin_user_path(user.id) %><br>
					<%= user.updated_at.to_s(:datetime) %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>