<h1>ユーザー一覧(新規順)</h1>

<%= form_tag admin_users_path, :method => 'get' do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to "#{user.kanzi_fullname}", user_path(user.id) %><br>
			<%= user.updated_at.to_s(:datetime) %>
		</td>
	</tr>
	<% end %>
</table>