<div class="container">
	<h2>ユーザー詳細</h2>
	<table border="1">
		<td><%= @user.kanzi_fullname %></td>
		<td><%= @user.kana_fullname %></td>
		<td><%= @user.password %></td>
		<td><%= @user.user_status %></td>
		<td><%= @user.postal_code %></td>
		<td><%= @user.address %></td>
	</table>

	<%= link_to "編集", edit_user_registration_path, class: "btn btn-success btn-sm" %>
	<%= link_to "削除", admin_user_path, class: "btn btn-danger btn-sm", method: :delete, "data-comfirm" => "よろしいですか？" %><br>
	<hr>

	<strong>購入履歴</strong>

	<% if @recept_logs.blank? %>
	<p>購入履歴は存在しません</p>

	<% else %>
	<% @recept_logs.each do |recept_log| %>
	<% recept_log.purchase_data_logs.each do |purchase_data_log| %>
	<p><%= purchase_data_log.created_at.to_s(:month) %></p>
	<table border="1" style="border-collapse: collapse">
		<tr>
			<td class="col-xs-1"><%= purchase_data_log.created_at.to_s(:date) %></td>
			<td class="col-xs-1"><%= attachment_image_tag purchase_data_log.package, :disc_image, size:"150x150" %></td>
			<td class="col-xs-2"><%= purchase_data_log.package.title %></td>
			<td class="col-xs-3"><%= purchase_data_log.numbers %>個<br>
				<%= purchase_data_log.purchase_price * purchase_data_log.numbers %>円</td>
			<td class="col-xs-4"><%= recept_log.delivering_adddress %></td>
			<td class="col-xs-1"><%= recept_log.delivered_status %></td>
		</tr>
	</table>
	<% end %>
	<% end %>
	<% end %>
</div>