<div class="container">
	<h2>レビュー編集</h2>
	<hr>
	<div class="row">
		<div class="col-xs-3">
			<%= form_for @review, url: package_review_path(@review.package_id, @review.id),method: :patch do |f| %>
			<%= f.text_field :comment, autofocus: true, class:"form-control", autocomplete: "on" %>
			<%= f.submit "更新", class:"btn btn-primary btn-sm" %><%= notice%>
			<% end %>
			<%= link_to "戻る", :back %>
		</div>
	</div>
</div>